body {
    background-color: #0E0004;
    color: #DDC8C4;
    text-shadow: 1px 1px #0E0004;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

main {
    margin-right: 50px;
    margin-left: 50px;
    background-color: #6B0F1A;
    border: 1px solid #DDC8C4;
    border-radius: 15px;
    padding-bottom: 10px;
}

nav{
    background-color: #0E0004;
    padding: 10px;
    margin-bottom: 10px;
}
nav a {
    text-decoration: none;
    color: #EFF9F0;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline;
    margin-right: 25px;
    color: #EFF9F0;
}
nav a:hover {
    color: #a61a3f;
}

h1 {
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: #E6AF2E;
    text-shadow: 3px 3px #000;
}

h2 a {
    color: #DDC8C4;
    text-shadow: 1px 1px #E6AF2E;
    text-decoration: none;
}

h2 a:hover {
    color: #E07A5F;
    text-shadow: 2px 2px #000;
}

button {
    background-color: whitesmoke;
    color: #6495ed;
    text-shadow: 1px 1px #656565;
}

img {
    border-radius: 5px;
    border: 1px solid #0E0004;
}

h2 {
    color: #0E0004;
}

.border {
    color: #886363;
}

